body {
  background: #F7F5FF;  
}

.unicorn {
  color: white;
}

img.thumbnails {
  vertical-align: top;
}

.thumbnails:hover {
  color: #730B0B;
  cursor: pointer;
}

.app-items {
  display: inline-block;
  width: 300px;
  height: 110px;
  overflow: hidden;
}

.app-item {
  display: inline-block;
  width: 300px;
  margin-bottom: 20px;
  float: left;
}

.app-content {
  display: inline-block;
  padding-left: 15px;
  width: 200px;
}

.app-content p {
  width: auto;
}

.app-title {
  font-size: 14px;
  font-weight: 500;
}

.app-category {
  font-size: 12px;
  display: inline-block;
  font-weight: bold;
}

.app-category-type {
  font-size: 11px;
  display: inline-block;
}

.app-price {
  font-weight: bold;
  color: #a5bf55;
}