{% load static %}

<script src="{% static 'gameGap/js/lib/angular.min.js' %}"></script>
<script src="{% static 'gameGap/js/lib/angular-route.min.js' %}"></script>

<script src="{% static 'gameGap/js/ourAngular.js' %}"></script>

<script src="{% static 'gameGap/js/controllers/topFreeController.js' %}"></script>
<script src="{% static 'gameGap/js/controllers/topNewFreeController.js' %}"></script>
<script src="{% static 'gameGap/js/controllers/topNewPaidController.js' %}"></script>
<script src="{% static 'gameGap/js/controllers/topPaidController.js' %}"></script>
<script src="{% static 'gameGap/js/controllers/postController.js' %}"></script>

<!-- <script src="{% static 'gameGap/bootstrap/js/ui-bootstrap.min.js' %}"></script> -->

