<style>
  html {
    height: 100%;
  }
  body {
    background-color: #7FCBF0;
    background-image: url('https://cdn.tutsplus.com/gamedev/uploads/2013/09/tileMapDiagram2.png');
    background-position: bottom;
    background-repeat: repeat-x;
    height: 100%;
  }

  .welcome {
    font-family: 'Press Start 2P', serif;
    font-size: 48px;
    text-align: center;
  }

.slogan {
  font-family: 'Orbitron', serif;
  font-size: 30px;
  text-align: center;
}

.my-logo {
  max-height: 300px;
  margin-left: auto;
  margin-right: auto;
}

</style>

<h1 class="welcome">Welcome to Game_Gap!</h1>
<p class="slogan">Where Gamers connect</p>
<div>
  <img class="img-responsive intro-logo my-logo" src="static/gameGap/media/LOGO.png">
</div>


