<section class="background-container">
  <div ng-click="pc.showModal(game)">
    <button class="make-new-post">Create a Post</button>
  </div>
  <h1 class="game-post-header">Game Posts</h1>
  <section class="game-post-tile">
    <div class="post-information">
      <span>Post Title</span>
      <span>Date</span>
    </div>
    <div ng-repeat="post in pc.posts track by post.id">
      <div class="game-post-title">
        <p>
          <span>{{ post.title }}</span>
          <span class="game-post-time">{{ post.date | date: 'shortDate' : '-0800' }}</span>
        </p>
        <section ng-repeat="comment in post.comments track by comment.id">
          <div class="comment-body">
            <span>{{ comment.body }}</span>
            <span>{{ comment.date | date: "h:mma 'at' MM/dd/yyyy" }}</span>
          </div>
        </section>
      </div>
      <br>
    </div>
  </section>
</section> 

<div id="openModal" class=" modalDialog row" ng-class="{showModal: pc.formEntry}">
    <div class="modalHolder col-md-12">
        <a title="Close" class="close" ng-click="pc.hideModal()">X</a>
        <form class="col-md-12" ng-submit="pc.addNewDiscussion()">
          <h1 class="modal-header">Post and Play!</h1>
          <div class="full-form">
            <div class="form-fields">
              <label for="topic">Topic:</label>
              <input class="form-inserts" name="topic" type="text" ng-model="pc.addTopic"><br>  
              <label for="comment">Post Content:</label> 
              <textarea  class="form-inserts" name="comment" ng-model="pc.addPost"></textarea><br>     
            <span>
              <button class="form-submit" type="submit">Submit</button>
            </span>
            </div>
          </div>
        </form>
    </div>
</div>













